name: 'Java CI with Gradle'

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: 'read'

jobs:
  test:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v4'
      - name: 'Set up JDK 21'
        uses: 'actions/setup-java@v4'
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: 'Setup Gradle'
        uses: 'gradle/actions/setup-gradle@8379f6a1328ee0e06e2bb424dadb7b159856a326'
      - name: 'Build with Gradle'
        run: './gradlew compileKotlin compileTestKotlin'
      - name: 'Run tests with Gradle'
        run: './gradlew test jacocoTestReport'
